:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-black: #000000;
  --basic-brown: #766357;
  --basic-light-grey: #CACACA;
  --basic-extra-light-grey: #F2F2F2;
  --basic-grey: #EEEEEE;;
  --basic-darkgrey: #A9A9A9;

  --special-grey: #6A6A6A;
  --special-light-grey: #EBEBEB;
  --special-light-blue: #669EC0;
  --special-blue: #5496BD;
  --special-light-brown: #604E43;
  --special-brown: #503E33;
  --special-border-grey: #E5E5E5;

}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);

}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*Grid*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;

}
/*Main header*/
.main-header {

}

/*Navigation*/

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}
.main-navigation-wrapper {
  width: 100%;
}

.main-header-logo {
  display: block;
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 138px;
  height: 70px;


}
/*Container*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation .container {
  display: flex;

}
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.left-box-menu {
  width: 531px;
  height: 56px;

}
.right-box-menu {
  width: 531px;
  height: 56px;

}
.site-navigation {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a {
  display: block;
  color: var(--basic-black);
  padding-top: 14px;
  padding-bottom: 16px;
}
.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation .page-current {
  color: var(--basic-brown);
}
.main-picture {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-black);
  background-image: url(../img/background_photo.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
.welcome-text {
  height: 216px;
  text-align: center;
}
/*Reasons*/
.reason-blue-row {
  display: flex;
  justify-content: space-around;
}
.reason-blue {
  align-self: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  width: 400px;
  height: 256px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.reason-image-1 {
  width: 800px;
  height: 256px;
  background-color: var(--basic-blue);
  background-image: url(../img/image_1.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.reason-image-2 {
  width: 800px;
  height: 256px;
  background-color: var(--basic-blue);
  background-image: url(../img/image_2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.reason h3 {
  font-size: 21px;
  line-height: 21px;
}
.reason-gray {
  align-self: center;
  text-align: center;
  background-color: var(--basic-grey);
  width: 400px;
  height: 256px;
}
.reason-gray-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Features*/
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  min-height: 330px;
  margin: 0;
  padding: 0;

}
.feature-item {
  text-align: center;
  margin-top: 160px;

}
.feature-item h3 {
  position: relative;
  font-size: 21px;
  line-height: 21px;
}
/*.feature-item:first-child::before {
  content:"";
  position: absolute;
  background-image: url(../img/icon-1.svg);
  width: 75px;
  height: 72px;
  left: 50%;
  right: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

/*Search*/
.search-text {
  text-align: center;
  height: 291px;

}
.search_hotel input {
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;


}
.button {
  margin-right: 6px;
  font: inherit;
  text-align: center;
  background-color: var(--basic-blue);
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
.button:hover {
  background-color: var(--special-light-blue);
}
.button:active {
  background-color: var(--special-blue);
}

/*Footer*/
.page-footer {
  height: 120px;
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.9);
}
.page-footer .container {
  display: flex;
  justify-content: space-around;

}
.footer-contacts {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 23px;

}
.footer-contacts a {
  color: var(--basic-black);
}
.footer-social {
  width: 150px;
  margin-top: 36px;

}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;

}

.footer-copyright {
  margin-top: 38px;
  color: var(--basic-black);

}
/*Social buttons*/
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--special-light-blue);
}
.social-button:active {
  background-color: var(--special-blue);
}

/*Filters*/
.filters {
  display: flex;
  width: 1200px;
  height: 217px;
  color: var(--basic-white);
  background-color:var(--basic-black);
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.filter-option {
  list-style: none;
}


/* Catalog*/
.sort {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: 86px;
  font-size: 12px;
  line-height: 18px;

}
.sort h2 {
  margin: 29px 46px 31px 73px;
}
.sort p {
  margin-top: 32px;
}
.sort-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 32px;
}
.sort-list li {
  position: relative;
  margin-right: 32px;
}
.sort-item-current {
  color: var(--basic-blue);
}
.sort-item a {
  color: rgba(0, 0, 0, .3);
  text-decoration: underline dashed rgba(0, 0, 0, .3);
}
.sort-item:hover a {
  color: var(--basic-blue);
}
.sort-item:active a {
  color: var(--basic-black);
}
.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.catalog-item {
  display: block;
  height: 151px;
  border-top: 1px solid var(--special-border-grey);
  background-color: var(--basic-white);
}
.catalog-item:last-child {
  border-bottom: 1px solid var(--special-border-grey);
}
.description-item {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.description-button {
  display: flex;

}
.catalog-item a {
  color: var(--basic-black);
}
.catalog-item a:hover {
  color: var(--basic-blue);
}
.catalog-item a:active {
  color: rgba(0, 0, 0, .3);
}
.catalog-item img {
  float: left;
  margin: 30px 29px 30px 73px;
}
.catalog-item span {
  position: relative;
}

.brown-button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-brown);
  text-transform: uppercase;
  border: none;
}
.brown-button:hover {
  background-color: var(--special-light-brown);
}
.brown-button:active {
  background-color: var(--special-brown);
}
.rating-number {
  position: relative;
  left: 580px;
  width: 110px;
  height: 27px;
  text-align: center;
  background-color: var(--basic-extra-light-grey);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
